/* Estilos globales */
body {
    background-color: rgb(83, 169, 226);
}

/* Estilos para el título */
.titulo {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el logotipo */
.logofav {
    margin-inline-start: 15px;
    max-width: 5vh;
}

/* Estilos para el contenedor de eventos */
.eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

/* Estilos para el formulario de eventos */
.formulario {
    width: 225px;
    background-color: aliceblue;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 3px rgb(255, 255, 255);
}

/* Estilos para las entradas de texto en el formulario */
.formulario input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: solid 0.2px rgb(0, 178, 255);
    border-radius: 8px;
    padding: 5px;
}

/* Estilos al pasar el ratón sobre las entradas de texto */
.formulario input:hover {
    background-color: antiquewhite;
}

/* Estilos para el botón de agregar evento */
#agregar {
    background-color: rgb(0, 178, 255);
    color: aliceblue;
    padding: 8px;
}

/* Estilos al pasar el ratón sobre el botón de agregar evento */
#agregar:hover {
    background-color: rgb(1, 156, 222);
    color: black;
}

/* Estilos para la lista de eventos */
.listaEventos2 {
    padding: 8px;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 600px;
    box-shadow: 0px 0px 8px 3px rgb(255, 255, 255);
}

/* Oculta la lista de eventos si está vacía */
.listaEventos2:empty {
    display: none;
}

/* Estilos para los botones de eliminar */
.eliminar {
    background-color: rgb(255, 189, 47);
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Estilos al pasar el ratón sobre los botones de eliminar */
.eliminar:hover {
    color: aliceblue;
    background-color: red;
}

/* Estilos para cada evento en la lista */
.evento {
    margin-top: 10px;
    padding: 10px;
    border: solid 2px rgb(0, 178, 255);
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Estilos al pasar el ratón sobre cada evento */
.evento:hover {
    background-color: rgb(143, 221, 255);
}

/* Estilos para los elementos dentro de cada evento */
.evento,
.dias,
.nombreEvento,
.fechaEvento {
    display: flex;
    padding: 5px;
    padding-inline: 15px;
    margin-inline: 10px;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para el nombre del evento */
.nombreEvento {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* Estilos para el bloque de días restantes */
.dias {
    font-size: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
}

/* Estilos para la cantidad de días restantes */
.diasFaltantes {
    color: green;
    font-size: 35px;
}

/* Estilos para el pie de página */
footer {
    position: end;
    display: flex;
    justify-content: center;
    text-align: center;
}
